.main{
    display: flex;
    justify-content: center;
}

.box{
    width: 300px
}
.time{
    padding-bottom: 20px;
    text-align: center;
}
.actions{
    padding-bottom: 20px;
    text-align: center;
}
.record-row{
    display: flex;
    flex-direction: column;
}

.d-n{
    display: none;
}

li{
    list-style: decimal;
    margin-top: 10px;

}

li span:nth-child(1){
    margin-right: 125px;
}